<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.ait.tiffanynguyen.classscheduler" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="app_classes.db" />
        <meta-data
            android:name="VERSION"
            android:value="8" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="hu.ait.tiffanynguyen.classscheduler.data" />

        <activity
            android:name="hu.ait.tiffanynguyen.classscheduler.DayListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.ait.tiffanynguyen.classscheduler.DayDetailActivity"
            android:label="@string/title_day_detail"
            android:parentActivityName="hu.ait.tiffanynguyen.classscheduler.DayListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DayListActivity" />
        </activity>
    </application>

</manifest>
